@use "@picocss/pico/scss/pico";

// Main styling for the page
main {
  padding-block: 4rem;
  #top-bar {
    align-items: center;
    margin-bottom: 2rem;

    * {
      margin: unset;
    }
  }

  #main-report {
    span > svg {
      --size: 60px;
      width: var(--size);
      height: var(--size);
      margin: var(--pico-spacing);
    }
  }

  #conditions {
    font-weight: bold;
  }

  #temps,
  #precip {
    padding-inline-start: var(--pico-spacing);
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .error {
    --pico-color: var(--pico-del-color);
    text-align: center;
    padding: 2.5rem;
  }

  .card {
    min-height: 300px;
  }

  .stat {
    margin: 0 auto;
    [data-tooltip] {
      border: unset;
    }
  }

  @media screen and (max-width: 896px) {
    .stat {
      margin: unset;
    }
  }
}
